<!-- payDialog.html >>>>>>>>>>>>> -->
<template id="payDialog">
  <div>
    <div :class="{ mask: open }" @touchmove.prevent @click="$emit('update:open', false)"></div>
    <div :class="{ show: open }" class="pay-dialog">
      <div class="dialog-hd">
        支付方式
        <button @click="$emit('update:open', false)">
          <i class="iconfont iconguanbi"></i>
        </button>
      </div>
      <div class="dialog-bd">
        <template v-for="item in payOptions">
          <label v-if="item.canuse" :key="item.id">
            <input v-model="payChecked" :value="item.value" type="radio" hidden>
            <div :style="{ backgroundImage: 'url(' + item.icon + ')' }">
              <div class="name">
                {{ item.name }}
                <div v-if="item.value === 'yue'" class="info">可用余额：￥{{ now_money }}</div>
              </div>
              <i class="iconfont icongouxuan"></i>
            </div>
          </label>
        </template>
      </div>
      <div class="dialog-ft">
        <a v-if="!isMember && pay_type_num != 10 && pay_type_num != 3 && pay_type_num!= 30 && canReduce>0 && showReduce"
          class="member" :href="memberLink">
          <div>开通会员，本单可减<span class="money">{{ canReduce }}元</span></div>
          <i class="iconfont iconxiangyou"></i>
        </a>
        <wx-open-subscribe v-if="isWechat && templateId && !WeixinOpenTagsError" :template="templateId" @success="onPay"
          @error="subscribeError">
         
          <script type="text/wxtag-template">
                      <button class="subscribe-btn">立即支付</button>
                  </script>
        </wx-open-subscribe>
        <button v-else :disabled="!payChecked" @click="onPay">立即支付：￥ {{ money }}</button>
      </div>
    </div>
  </div>
</template>
<script>
  Vue.component('payDialog', {
    template: "#payDialog",
    vueComponent: 'payDialog',
    props: {
      open: {
        type: Boolean,
        default: false
      },
      money: {
        type: Number,
        default: 0
      },
      now_money: {
        type: Number,
        default: 0
      },
      special_id: {
        type: Number,
        default: 0
      },
      pay_type_num: {
        type: Number,
        default: -1
      },
      pinkId: {
        type: Number,
        default: 0
      },
      link_pay_uid: {
        type: Number,
        default: 0
      },
      isWechat: {
        type: Boolean,
        default: false
      },
      isAlipay: {
        type: Boolean,
        default: false
      },
      isBalance: {
        type: Boolean,
        default: false
      },
      signs: {
        type: Object,
        default() {
          return {};
        }
      },
      templateId: {
        type: String,
        default: ''
      },
      wxpayH5: {
        type: Boolean,
        default: true
      },
      priceId: {
        type: Number,
        default: 0
      },
      useGold: {
        type: Boolean,
        default: false
      },
      isMember: [Boolean, Number],
      memberMoney: {
        type: Number,
        default: 0
      },
      memberLink: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        payOptions: [
          {
            id: 1,
            name: '微信支付',
            icon: '<$ uploadUrl $>/img/svg/wxpay.svg',
            value: 'weixin',
            canuse: this.isWechat || this.wxpayH5
          },
          {
            id: 2,
            name: '支付宝支付',
            icon: '<$ uploadUrl $>/img/svg/alipay.svg',
            value: 'zhifubao',
            canuse: this.isAlipay
          },
          {
            id: 3,
            name: '余额支付',
            icon: '<$ uploadUrl $>/img/svg/balance.svg',
            value: 'yue',
            canuse: this.isBalance
          }
        ],
        payChecked: '',
        WeixinOpenTagsError: false,  // 无法使用微信开放标签
        showReduce: true
      };
    },
    computed: {
      canReduce() {
        return Decimal.sub(this.money, this.memberMoney).toNumber();
      }
    },
    created() {
      var find = this.payOptions.find(function (option) {
        return option.canuse;
      });
      if (find) {
        this.payChecked = find.value;
      }
      if (this.isWechat) {
        // 无法使用微信开放标签触发WeixinOpenTagsError事件
        document.addEventListener('WeixinOpenTagsError', function () {
          this.WeixinOpenTagsError = true;
        }.bind(this));
      }
      var arr = ['order_store_list', 'order'];
      var pathname = window.location.pathname;
      pathname = pathname.split('.');
      pathname = pathname[0].split('/');
      for (var i = 0; i < arr.length; i++) {
        for (var j = 0; j < pathname.length; j++) {
          if (pathname[j] == arr[i]) {
            this.showReduce = false;
            break;
          }
        }
      }
    },
    methods: {
      // 支付
      onPay() {
        var index = layer.load(1),
          backUrlCRshlcICwGdGY = {
            special_id: this.special_id,
            pay_type_num: this.pay_type_num,
            pinkId: this.pinkId,
            link_pay_uid: this.link_pay_uid,
            payType: this.payChecked,
            from: this.isWechat ? 'weixin' : 'weixinh5'
          };

        Object.assign(backUrlCRshlcICwGdGY, this.signs);

        // 报名信息转JSON字符串
        if (this.pay_type_num === 20) {
          backUrlCRshlcICwGdGY.price_id = this.priceId;
          backUrlCRshlcICwGdGY.event.forEach(function (item) {
            if (item.event_type === 3) {
              item.event_value = item.event_value.join();
            }
          });
        }

        if (this.pay_type_num === 40) {
          backUrlCRshlcICwGdGY.useGold = this.useGold;
        }

        // 创建订单
        // axios.post('/wap/special/create_order', backUrlCRshlcICwGdGY).then(function (res) {
        //     if (res.data.code === 200) {
        //         this.$emit('change', {
        //             action: 'pay_order',
        //             value: res.data
        //         });
        //     } else {
        //         layer.msg(res.data.msg, {
        //             anim: 0
        //         }, function () {
        //             this.$emit('update:open', false);
        //         }.bind(this));
        //     }
        // }.bind(this)).catch(function (error) {
        //     console.error(error);
        // }.bind(this)).then(function () {
        //     layer.close(index);
        // });
      },
      // 订阅按钮操作失败事件
      subscribeError(event) {
        this.onPay();
      }
    },
  });
</script>
<style>
  .pay-dialog {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 56;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    border-radius: .3rem .3rem 0 0;
    background-color: #FFFFFF;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
  }

  .pay-dialog.show {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .pay-dialog .dialog-hd {
    position: relative;
    height: 1rem;
    padding: 0 1rem;
    text-align: center;
    font-size: .32rem;
    line-height: 1rem;
    color: #333333;
  }

  .pay-dialog .dialog-hd button {
    position: absolute;
    top: 50%;
    right: .3rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .pay-dialog .dialog-hd .iconfont {
    font-size: .32rem;
  }

  .pay-dialog .dialog-bd label {
    position: relative;
    display: block;
  }

  .pay-dialog .dialog-bd label::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: .3rem;
    border-bottom: 1px solid #EEEEEE;
  }

  .pay-dialog .dialog-bd input+div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 1.2rem;
    padding: 0 .3rem 0 1.08rem;
    background: .3rem center/.5rem .5rem no-repeat;
  }

  .pay-dialog .dialog-bd .name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .pay-dialog .dialog-bd .info {
    font-size: .24rem;
    color: #999999;
  }

  .pay-dialog .dialog-bd .iconfont {
    visibility: hidden;
    font-size: .3rem;
    color: #2C8EFF;
  }

  .pay-dialog .dialog-bd input:checked+div .iconfont {
    visibility: visible;
  }

  .pay-dialog .dialog-ft {
    padding: .3rem .3rem .4rem;
  }

  .pay-dialog .member {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: .6rem;
    padding: 0 .2rem 0 .72rem;
    border-radius: .04rem;
    background: #FFF0E5 url("<$ uploadUrl $>/img/user_member2.png") .2rem center/.37rem .41rem no-repeat;
    font-size: .26rem;
    line-height: 1;
    color: #333333;
  }

  .pay-dialog .member .iconfont {
    font-size: .2rem;
    color: #FF6B00;
  }

  .pay-dialog .member .money {
    color: #FF6B00;
  }

  .pay-dialog .dialog-ft button {
    width: 100%;
    height: .86rem;
    border-radius: .43rem;
    margin-top: .5rem;
    background-color: #2C8EFF;
    font-size: .3rem;
    color: #FFFFFF;
  }

  wx-open-subscribe {
    display: block;
  }

  .subscribe-btn {
      width: 100%;
      height: 40px;
      border: 0;
      border-radius: 20px;
      background-color: #2C8EFF;
      outline: 0;
      font-size: 14px;
      color: #FFFFFF;
  }
</style>
<!-- <<<<<<<<<<<<< payDialog.html -->