<!-- questionGuide.html >>>>>>>>>>>>> -->
<template id="questionGuide">
  <div :class="{ 'operation-guide': visible }" @click="guideClick"></div>
</template>

<script>
  Vue.component('questionGuide', {
    template: "#questionGuide",
    vueComponent: 'questionGuide',
    props: {
      visible: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      guideClick() {
        this.$emit('update:visible', false);
      }
    },
  });
</script>
<!-- <<<<<<<<<<<<< questionGuide.html -->