<!-- assignment/detail.html >>>>>>>>>>>>> -->
{% extends "template/jfTemplate.html" %}
{% block htmlHead %}
<script src="/<$ ctx.app.config.appId $>/public/plugins/editor.md/lib/marked.min.js"></script>
<link rel="stylesheet" href="/<$ ctx.app.config.appId $>/public/plugins/editor.md/css/editormd.min.css"/>
{% endblock %}
{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div class="question-paper">
    <!-- 顶部预览 -->
    <div class="header">
        <div class="message">
          <span>{{ assignmentTitle }}</span>
          <span> - 第 {{ assignmentRetryNumber + 1 }}次做题</span>
        </div>
        <div class="subtitle">
          <span class="text-subtitle-2">
            {{ assignmentStatusDesc }}
          </span>
          <span v-if="isAssignmentSubmit">
            {{ assignmentResult }}
          </span>
        </div>
    </div>

    <!-- 答题body -->
    <div class="swiper-container swiper-no-swiping">
        <div class="swiper-wrapper">
        <assignment-form-item v-for="(formItem, index) in assignmentAnswer" :key="index" :form-item="formItem" :index="index"
            :is-submit="isAssignmentSubmit" :is-review="isAssignmentReview" :exam-review="assignmentReview" :user-file-list="userFileList"></assignment-form-item>
      </div>
    </div>

    <!-- 底部操作栏 -->
    <div class="footer">
        <button :disabled="!activeIndex" @click="slidePrev">
            <i class="iconfont iconshangyige"></i>
            <div>上一题</div>
        </button>
        <button v-if="!isAssignmentSubmit" @click="doUiAction('submitUserAssignment')">
            <i class="iconfont icontijiao"></i>
            <div>确认提交</div>
        </button>
        <button v-if="isAssignmentSubmit" @click="doUiAction('redoUserAssignment')">
          <i class="iconfont icontijiao"></i>
          <div>重做</div>
      </button>
        <button :disabled="activeIndex === assignmentUserAnswer.length-1" @click="slideNext">
            <i class="iconfont iconxiayige"></i>
            <div>下一题</div>
        </button>
    </div>
  
    <quick-menu></quick-menu>

  </div>
</script>
{% endblock %}

{% block vueScript %}
{% include 'component/quickMenu.html' %}
{% include 'component/assignmentFormItem.html' %}
{% include 'component/attachmentUpload.html' %}
<script src="<$ static $>/plugin/swiper5/js/swiper.js"></script>
<script src="<$ static $>/plugin/layer/layer.js"></script>
<link rel="stylesheet" href="<$ static $>/plugin/layer/theme/default/layer.css">

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vueComponent: 'page',
    data: {
      // 作业检索信息
      assignmentId: '',

      // 页面控制参数
      isCanSubmit: true,
      showStandardAnswer: false,
      answerType: '我的答案',

      // 作业基本信息
      assignmentTitle: '题目加载中……',
      assignmentScore: 0,
      assignmentFullMarks: 0,
      assignmentRetryNumber: 0,

      // 作业状态信息
      assignmentStatusDesc: '',
      lastSaveTime: '',
      autoSaveInterval: 30000,
      autoSaveTimeOut: null,

      // 作业内容
      userAssignment: {},
      assignmentAnswer: [],
      assignmentUserAnswer: [],
      assignmentStandardAnswer: [],
      assignmentReview: {},

      actionDataForSave: {},
      actionDataForSubmit: {},

      userFileList: {},

      assignmentSwiper: null,
      activeIndex: 0,
      userInfo: {
        userId: '<$ ctx.userInfo.userId $>'
      },
    },
    computed: {
      isAssignmentSubmit() {
        return this.userAssignment.assignmentSubmitStatus === 'submit';
      },
      isAssignmentReview() {
        return this.userAssignment.assignmentReviewStatus === 'publish';
      },
      assignmentResult() {
        const scoreText = (this.assignmentScore || this.assignmentScore == 0) ? this.assignmentScore : '待批改';
        const fullMarkText = (this.assignmentFullMarks || this.assignmentFullMarks == 0) ? this.assignmentFullMarks : '未设置';
        return `【得分：${scoreText} | 满分：${fullMarkText}】`;
      },
    },
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      this.assignmentId = urlParams.get('assignmentId');

      await this.doUiAction('getUserAssignment');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getUserAssignment':
            await this.getUserAssignment();
            await this.setAssignmentConstants();
            await this.initSwiper();
            break;
          case 'saveUserAssignment':
            await this.packUserAnswerForSave();
            await this.clearAutoSaveTimer();
            await this.uploadAssignmentFile();
            await this.saveUserAssignment();
            await this.startAutoSaveTimer();
            break;
          case 'submitUserAssignment':
            await this.confirmSubmitUserAssignment();
            await this.packUserAnswerForSubmit();
            await this.clearAutoSaveTimer();
            await this.uploadAssignmentFile();
            await this.submitUserAssignment();
            await this.startAutoSaveTimer();
            await this.getUserAssignment();
            await this.setAssignmentConstants();
            break;
          case 'redoUserAssignment':
            await this.confirmRedoUserAssignment();
            await this.packUserAnswerForRedo();
            await this.clearAutoSaveTimer();
            await this.redoUserAssignment();
            await this.getUserAssignment();
            await this.setAssignmentConstants();
            break;
          case 'toggleAnswerDisplay':
            await this.doUiAction('submitUserAssignment');
            await this.toggleAnswerDisplay();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      slidePrev() {
        this.assignmentSwiper.slidePrev();
      },
      slideNext() {
        this.assignmentSwiper.slideNext();
      },
      async initSwiper() {
        const that = this;
        this.assignmentSwiper = new Swiper('.swiper-container', {
          initialSlide: this.activeIndex,
          pagination: {
            el: '.swiper-pagination',
            type: 'fraction'
          },
          virtual: {
            slides: this.assignmentUserAnswer,
            renderExternal(data) {
            }
          },
          on: {
            init: function () {
              // this.t_isGuideVisible = !localStorage.getItem('problem-guide');
            },
            slideChange: function () {
              that.activeIndex = this.activeIndex;
            }
          }
        });
      },
      // ---------- 初始化作业 >>>>>>>>>>>>> ----------
      async getUserAssignment() {
        layer.load();
        const packageData = {
          data: {
            appData: {
              pageId: 'assignmentPaper',
              actionId: 'getUserAssignment',
              actionData: {},
              where: {
                assignmentId: this.assignmentId
              }
            }
          }
        }
        const result = await window.jianghuAxios(packageData);
        this.userAssignment = result.data.appData.resultData.rows[0];

        layer.closeAll();
      },
      async setAssignmentConstants() {
        const {
          assignmentSubmitStatus,
          assignmentSubmitAt,
          articleTitle,
          assignmentScore,
          assignmentFullMarks,
          assignmentRetryNumber,
        } = this.userAssignment
        this.userFileList = {};

        if (assignmentSubmitStatus == 'new') {
          this.assignmentStatusDesc = '答题中'
          this.startAutoSaveTimer();
        } else if (assignmentSubmitStatus == 'save') {
          this.assignmentStatusDesc = `上次保存时间：${dayjs(assignmentSubmitAt).format('YYYY年MM月DD日HH:mm:ss')}`;
          this.startAutoSaveTimer();
        } else {
          this.assignmentStatusDesc = '已提交';
          this.clearAutoSaveTimer();
        }

        this.assignmentTitle = (articleTitle) ? articleTitle : '无题';
        this.assignmentScore = assignmentScore;
        this.assignmentFullMarks = assignmentFullMarks;
        this.lastSaveTime = assignmentSubmitAt;
        this.assignmentRetryNumber = assignmentRetryNumber;

        this.assignmentUserAnswer = this.setAssignmentUserAnswerForTemplate();
        this.assignmentStandardAnswer = this.setAssignmentStandardAnswerForTemplate();
        this.assignmentReview = this.setAssignmentReviewForTemplate();
        if (this.showStandardAnswer) {
          this.assignmentAnswer = this.assignmentStandardAnswer;
          this.assignmentStatusDesc += ' | 正在查看正确答案';
        } else {
          this.assignmentAnswer = this.assignmentUserAnswer;
        }

        this.userFileList = this.getUserFileList(this.assignmentUserAnswer);
      },

      setAssignmentUserAnswerForTemplate() {
        const { assignmentUserAnswer, assignmentStandardAnswer } = this.userAssignment;

        if (assignmentUserAnswer) return JSON.parse(assignmentUserAnswer);

        const standardAnswer = JSON.parse(assignmentStandardAnswer);
        standardAnswer.forEach(question => {
          question = this._setUserDefaultFormItem(question);
        });

        return standardAnswer;
      },
      // 构建带有答案的标准题目
      setAssignmentStandardAnswerForTemplate() {
        let standardAnswer = [];
        const { assignmentStandardAnswer } = this.userAssignment
        if (assignmentStandardAnswer) {
          standardAnswer = JSON.parse(assignmentStandardAnswer);
          standardAnswer.forEach(question => {
            question = this._setUserDefaultFormItem(question, true);
          });
        }
        return standardAnswer;
      },
      _setUserDefaultFormItem(item, showAnswer = false) {
        const file = {};
        const currentComponent = item.component
        currentComponent.uploadConfig.forEach((type) => {
          file[type] = "";
        });
        let answer = "";
        if (["singleSelect", "multipleSelect"].includes(currentComponent.type)) {
          answer = showAnswer ? currentComponent.answer : [];
        } else if (currentComponent.type === "fillBlank") {
          answer = showAnswer ? currentComponent.answer : {};
          currentComponent.statement
            .filter((stateItem) => stateItem.type === "input")
            .forEach((stateItem) => {
              answer[stateItem.id] = showAnswer ? stateItem.value : "";
            });
        }
        item.user = {
          file,
          answer,
          remark: "",
        };
        if (currentComponent.type === "markdown") {
          item.user.answer = showAnswer ? currentComponent.answer : ``;
        }
        if (currentComponent.type === "questionGroup") {
          currentComponent.itemList.forEach((childItem) => {
            childItem = this._setUserDefaultFormItem(childItem, showAnswer ? true : false);
          });
        }
        return item;
      },
      setAssignmentReviewForTemplate() {
        let review = JSON.parse(this.userAssignment.assignmentReview) || {};

        const createReview = question => ({
          score: "",
          comment: review[question.id].comment,
          rightAnswer: this.setAssignmentAnswer(question),
          userAnswer: '',
          isRight: question.user.answer === question.component.answer,
        });
        this.assignmentUserAnswer.forEach(question => {
          review[question.id] = createReview(question);

          if (question.component.type === 'questionGroup') {
            question.component.itemList.forEach(groupQuestion => {
              review[groupQuestion.id] = createReview(groupQuestion);
            });
          }
        });

        return review;
      },

      setAssignmentAnswer(assignment) {
        const OPTION_KEY = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];
        const currentComponent = assignment.component;
        switch (currentComponent.type) {
          case 'singleSelect':
            return OPTION_KEY[currentComponent.selectOptionList.indexOf(currentComponent.answer)];
          case 'multipleSelect':
            return currentComponent.answer
              .map(answer => OPTION_KEY[currentComponent.selectOptionList.indexOf(answer)])
              .join(',');
          case 'fillBlank':
            return currentComponent.statement
              .filter(item => item.type === 'input')
              .reduce((acc, item) => [...acc, item.value], [])
              .join(',');
          default:
            return '';
        }
      },
      // ---------- <<<<<<<<<<<<< 初始化作业 ----------

      async startAutoSaveTimer() {
        console.log('timer started');
        this.autoSaveTimeOut = setTimeout(this.autoSaveUserAssignment, this.autoSaveInterval);
      },
      async clearAutoSaveTimer() {
        clearTimeout(this.autoSaveTimeOut);
      },
      async autoSaveUserAssignment() {
        console.log('[autoSaveUserAssignment]');
        await this.doUiAction('saveUserAssignment');
      },
      // ---------- 保存作业 uiAction >>>>>>>>>>>>> ----------
      async packUserAnswerForSave() {
        this.actionDataForSave = {
          assignmentSubmitStatus: 'save',
          assignmentSubmitAt: this.lastSaveTime,
          assignmentUserAnswer: JSON.stringify(this.assignmentAnswer),
        }
      },
      async saveUserAssignment() {
        if (!this.isCanSubmit) return;
        layer.load(1);
        this.isCanSubmit = false;
        this.lastSaveTime = dayjs().format();
        const packageData = {
          data: {
            appData: {
              pageId: 'assignmentPaper',
              actionId: 'saveUserAssignment',
              actionData: this.actionDataForSave,
              where: { assignmentId: this.assignmentId },
            }
          }
        }
        const result = await window.jianghuAxios(packageData);
        this.isCanSubmit = true;
        this.assignmentStatusDesc = `上次保存时间：${dayjs(this.lastSaveTime).format('YYYY年MM月DD日HH:mm:ss')}`;
        this.showStandardAnswer = false;
        layer.closeAll();
        layer.msg('保存成功');
      },
      // ---------- <<<<<<<<<<<<< 保存作业 uiAction ----------

      // ---------- 提交作业 uiAction >>>>>>>>>>>>> ----------
      async confirmSubmitUserAssignment() {
        // if (await window.confirmDialog({ title: "提交", content: "提交以后作业将无法修改。确定提交作业吗？" }) === false) {
        //   throw new Error("[confirmSubmitUserAssignment] 否");
        // }
        await new Promise((resolve, reject) => {
          layer.confirm('提交以后作业将无法修改。确定提交作业吗？', { icon: 3, title: '提交' }, (index) => {
            resolve();
            layer.close(index);
          }, (index) => {
            layer.close(index);
            throw new Error("[confirmSubmitUserAssignment] 否");
          });
        })

      },
      async packUserAnswerForSubmit() {
        this.actionDataForSubmit = {
          assignmentSubmitStatus: 'submit',
          assignmentSubmitAt: dayjs().format(),
          assignmentUserAnswer: JSON.stringify(this.assignmentAnswer),
        }
      },
      async submitUserAssignment() {
        if (!this.isCanSubmit) return;
        this.isCanSubmit = false;
        layer.load(1);
        const packageData = {
          data: {
            appData: {
              pageId: 'assignmentPaper',
              actionId: 'submitUserAssignment',
              actionData: this.actionDataForSubmit,
              where: { assignmentId: this.assignmentId },
            }
          }
        }
        const result = await window.jianghuAxios(packageData);
        this.isCanSubmit = true;
        layer.closeAll();
        layer.msg('提交成功');
      },
      // ---------- <<<<<<<<<<<<< 提交作业 uiAction ----------

      // ---------- 重做作业 uiAction >>>>>>>>>>>>> ----------
      async confirmRedoUserAssignment() {

        await new Promise((resolve, reject) => {
          layer.confirm('之前的答案和批改将被清空。确定重做作业吗？', { icon: 3, title: '重做' }, (index) => {
            resolve();
            layer.close(index);
          }, (index) => {
            layer.close(index);
            throw new Error("[confirmRedoUserAssignment] 否");
          });
        })
      },
      async packUserAnswerForRedo() {
        // nothing to do
      },
      async redoUserAssignment() {
        layer.load(1);
        const packageData = {
          data: {
            appData: {
              pageId: 'assignmentPaper',
              actionId: 'redoUserAssignment',
              actionData: {},
              where: { assignmentId: this.assignmentId },
            }
          }
        }
        const result = await window.jianghuAxios(packageData);
        layer.closeAll();
        layer.msg('恢复成功');
        this.showStandardAnswer = false;
      },
      // ---------- <<<<<<<<<<<<< 重做作业 uiAction ----------
      async toggleAnswerDisplay() {
        if (!this.isAssignmentSubmit) {
          throw new Error('作业还没提交，不能切换答案的显示！');
        } else {
          if (this.answerType == '正确答案') {
            this.assignmentStatusDesc = '已提交 | 正在查看正确答案';
            this.assignmentAnswer = this.assignmentStandardAnswer;
            this.showStandardAnswer = true;
          } else {
            this.assignmentStatusDesc = '已提交';
            this.assignmentAnswer = this.assignmentUserAnswer;
            this.showStandardAnswer = false;
          }
          console.log('[toggleAnswerDisplay] assignmentAnswer:', this.assignmentAnswer)
        }
      },
      async uploadAssignmentFile() {
        const assignmentUploadData = this.userFileList;
        const hasUpload = this.hasUploadFile();
        if (hasUpload) {
          await this.assignmentUpload({ data: assignmentUploadData });
        }
      },
      hasUploadFile() {
        for (const id in this.userFileList) {
          for (const type in this.userFileList[id]) {
            if (typeof this.userFileList[id][type] !== 'string') {
              return true;
            }
          }
        }
        return false;
      },
      async assignmentUpload({ data, load = false }) {
        let that = this;
        for (const index in data) {
          await this.assignmentUploadForEach(data, index, that);
        }
      },
      async assignmentUploadForEach(data, index, that) {
        const assignmentAnswer = [...that.assignmentAnswer]
        for (const id in data) {
          for (const type in data[id]) {
            const file = data[id][type];
            if (file && typeof file !== 'string') {
              layer.msg(`附件${index + 1}上传 上传进度: 0.00%`);
              const path = `/assignmentMaterial/${that.userInfo.userId}/${that.assignmentId}/`;
              const { data: { status } } = await this.assignmentUploadByStream(file, path, that, index)
              if (status === 'success') {
                
                for (const item1 of assignmentAnswer) {
                  if (item1.id === id) {
                    item1.user.file[type] = path + file.name;
                  }
                  if (item1.component.itemList && item1.component.type === 'questionGroup') {
                    for (const item2 of item1.component.itemList) {
                      if (item2.id === id) {
                        item2.user.file[type] = path + file.name;
                      }
                    }
                  }
                }
                
                that.userFileList[id][type] = path + file.name;
              }
            }
          }
        }
        console.log('[assignmentUploadForEach] assignmentAnswer', assignmentAnswer);
        // TODO assignmentAnswer更新不上
        that.assignmentAnswer = assignmentAnswer;
      },
      async assignmentUploadByStream(file, path, that, i) {
        return await window.jianghuAxios.httpUploadByStream({
          file,
          filenameStorage: file.name,
          fileDirectory: path,
          onProgress: (total, loaded) => {
            that.progress = Number((loaded * 100 / total).toFixed(2));
            // window.vtoast.loading(`附件${i}上传 上传进度: ${that.progress}%`);
            layer.msg(`附件${i}上传 上传进度: ${that.progress}%`);
            if (loaded === total) {
              layer.msg(`附件${i}上传 上传进度: 100%`);
            }
          }
        })
      },
      getUserFileList(assignmentUserAnswer) {
        const fileList = {};
        _.forEach(assignmentUserAnswer, ({ ...item }, index) => {
          // fileList.push({ id: item.id, fileList: item.user.file })
          fileList[item.id] = item.user.file;
          if (item.component.type === 'questionGroup') {
            item.component.itemList.forEach(e => {
              fileList[e.id] = e.user.file;
            })
          }
        })
        return fileList;
      }

    }
  })
</script>
<style scoped>
  body {
    background-color: #f5f5f5;
  }

  .share-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
  }

  .subtitle {
    font-size: 11px;
    color: #666;
    margin-top: 5px;
  }
</style>
{% endblock %}
<!-- <<<<<<<<<<<<< assignment/detail.html -->