<template id="subject-form-item">
  <div class="swiper-slide mb-3">
    <div class="type">{{ formItem.component.typeDesc }}</div>

    <template v-if="formItem.component.type === 'singleSelect'">
      <div class="question">
        <p class="text-h6">{{ index+1 }}、{{ formItem.component.statement }}</p>
        <div class="label-group">
          <template v-for="(option, oIndex) in formItem.component.selectOptionList">
            <label v-if="option" :key="option">
              <input :name="formItem.id" v-model="formItem.user.answer" :value="option" :disabled="isSubmit || isReview"
                type="radio" hidden>
              <div :class="{
                'ok': getIsRight(formItem, option),
                'no': getIsError(formItem, option),
              }">
                {{ option }}
              </div>
            </label>
          </template>
        </div>
      </div>
    </template>
    <template v-else-if="formItem.component.type === 'multipleSelect'">
      <div class="question">
        <p class="text-h6">{{ index+1 }}、{{ formItem.component.statement }}</p>
        <div v-if="formItem.component.markdownContent" ref="assignmentMarkdownContent"
          class="assignmentMarkdownContent markdown-body" :data-content="formItem.component.markdownContent"></div>
        <div class="label-group">
          <template v-for="(option, oIndex) in formItem.component.selectOptionList">
            <label v-if="option" :key="option">
              <input v-model="formItem.user.answer" :value="option" :disabled="isSubmit || isReview" type="checkbox"
                hidden>
              <div :class="{
                'ok': getIsRight(formItem, option),
                'no': getIsError(formItem, option),
              }">
                {{ option }}
              </div>
            </label>
          </template>
        </div>
      </div>
    </template>

    <template v-else-if="['textarea', 'questionAnswer', 'markdown'].includes(formItem.component.type)">
      <div class="question">
        <p class="text-h6">{{ index+1 }}、{{ formItem.component.statement }}</p>
        <div v-if="formItem.component.markdownContent" ref="assignmentMarkdownContent"
          class="assignmentMarkdownContent markdown-body" :data-content="formItem.component.markdownContent"></div>
        <v-row>
          <v-col cols="12">
            <textarea :readonly="isSubmit || isReview" placeholder="请输入答案" v-model="formItem.user.answer" hide-details
              class="textarea" dense filled @blur="answerChange" single-line color="success" auto-grow
              :rows="4"></textarea>
          </v-col>
        </v-row>
      </div>
    </template>



    <template v-else-if="formItem.component.type === 'displayText'">
      <div class="question">
        <div class="formItem-title">{{ index+1 }}、 {{ formItem.component.statement }}</div>
      </div>
    </template>

    <template v-else-if="formItem.component.type === 'fillBlank'">
      <div class="question">
        <div class="mb-3" style="white-space: normal;">
          {{ index+1 }}、
          <template v-for="(blank, blankIndex) in formItem.component.statement" :key="blankIndex">
            <input class="fill-blank fill-blank-input" v-if="blank.type === 'input'" :readonly="isSubmit || isReview"
              dense hide-details filled v-model="formItem.user.answer[blank.id]" />
            <span v-else>{{ blank.value }}</span>
          </template>
        </div>
        <div v-if="formItem.component.markdownContent" ref="assignmentMarkdownContent"
          class="assignmentMarkdownContent markdown-body" :data-content="formItem.component.markdownContent"></div>
      </div>
    </template>
    <template v-else-if="formItem.component.type === 'questionGroup'">
      <div class="question group">
        <p class="text-h6">{{ index+1 }}、{{ formItem.component.statement }}</p>
        <div v-if="formItem.component.markdownContent" ref="assignmentMarkdownContent"
          class="assignmentMarkdownContent markdown-body" :data-content="formItem.component.markdownContent"></div>
        <slot name="questionGroup"></slot>
        <subject-form-item v-for="(childFormItem, index) in formItem.component.itemList" :key="index"
          :form-item="childFormItem" :index="index" :is-submit="isSubmit" :is-review="isReview"
          :exam-review="examReview" :user-file-list="userFileList"></subject-form-item>
      </div>
    </template>

    <div v-if="examReview && isSubmit && formItem.component.type !== 'questionGroup'" class="analysis">
      <div :class="[examReview[formItem.id].isRight ? 'ok' : 'no']">回答{{ !examReview[formItem.id].isRight ? '错误' : '正确'
        }}</div>
      <div>
        <div>正确答案：<div>{{ examReview[formItem.id].rightAnswer }}</div>
        </div>
        <!-- <div>您的答案：<div>{{ formItem.user.answer }}</div> -->
      </div>
      <div v-if="examReview[formItem.id].score || examReview[formItem.id].score === 0">
        考试评分：{{examReview[formItem.id].score}}</div>

      <div v-if="examReview[formItem.id].comment">
        <div class="red--text">考试评语：</div>
        <p class="red--text">{{examReview[formItem.id].comment}}</p>
      </div>

      <textarea hide-details v-if="isReview" class="textarea" placeholder="学生备注" v-model="formItem.user.remark" filled
        single-line :rows="2" auto-grow></textarea>
    </div>

    <div class="upload-box my-2" v-if="formItem.component.type !== 'displayText' && userFileList">
      <attachment-upload v-for="(item, fileType, i) in userFileList[formItem.id]" ref="upload" :file-type="fileType"
        :key="i" :value="userFileList[formItem.id][fileType]" :index="formItem.id" :i="i" @change="onFileSave"
        :style="{flex: 1, 'margin-left': i > 0 ? '12px' : 0}"></attachment-upload>
    </div>
  </div>
</template>

<script>
  Vue.component("subject-form-item", {
    template: '#subject-form-item',
    vuetify: new Vuetify(),
    name: 'subject-form-item',
    props: ['formItem', 'index', 'isSubmit', 'isReview', 'examReview', 'userFileList'],
    data: () => {
      return {
      }
    },
    methods: {
      getIsRight(formItem, option) {
        return formItem.user.answer === option && this.isSubmit && (this.examReview && this.examReview[formItem.id].isRight)
      },
      getIsError(formItem, option) {
        return formItem.user.answer === option && this.isSubmit && (this.examReview && !this.examReview[formItem.id].isRight)
      },
      answerChange() {
        // this.$emit('answer-change', this.formItem.id, this.formItem.user.answer);
      },
      
      onFileSave(id, type, file) {
        this.userFileList[id][type] = file;
      },
    },
  })
</script>

<style scoped>
  .formItem-title {
    white-space: normal;
  }

  .answer-tip-col {
    padding: 3px 15px;
  }

  .answer-tip-box {
    padding: 10px 0;
  }

  .upload-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 11px;
    margin-top: 10px;
  }

  .editorMdContainer .editormd-mask {
    position: absolute !important;
    background-color: #000 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }

  .editorMdContainer .editormd-menu {
    padding-left: 10px !important;
  }

  .editorMdContainer .editormd-dialog {
    position: absolute !important;
    left: 50% !important;
    top: 50px !important;
    transform: translateX(-50%) !important;
    width: 340px !important;
  }

  .editorMdContainer .editormd-dialog .editormd-dialog-header {
    padding: 10px !important;
  }

  .editorMdContainer .editormd-dialog .editormd-dialog-container {
    padding: 15px !important;
  }

  .editorMdContainer .editormd-form input[type=text] {
    width: calc(100% - 80px) !important;
  }

  .student-remark textarea {
    color: rgb(0, 172, 37) !important;
  }

  .fill-blank {
    display: inline-block;

  }

  .fill-blank-input {
    border-bottom: 2px solid gray;
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 100px;
  }

  .fill-blank-input .v-input__slot {
    min-height: 30px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .textarea {
    margin-top: 10px;
    background: #f1f1f1;
    width: 100%;
    padding: 10px;
  }
  .question.group {
    background: transparent;
    
  }
</style>